# ========== Unity Generated ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ========== Memory Captures ==========
MemoryCaptures/

# ========== Asset meta data ==========
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]rojectSettings/**/*.meta

# ========== Visual Studio / Rider ==========
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ========== OS Files ==========
.DS_Store
Thumbs.db

# ========== Crash Reports ==========
sysinfo.txt

# ========== Addressables ==========
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# ========== Packages ==========
/Packages/packages-lock.json
